@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(113.49deg,#984D38 -30.3%,#181E41 58.12%) no-repeat;
    font-weight: 500;
    color: whitesmoke;
}
.header{
    max-width: 1197px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 10px 15px;
}

.header__logo{
    display: block;
    width: 312px;
    height: 128px;
    background-image:url("img/logo2.png");
    background-repeat: no-repeat;

}

.header__list{
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.header__link{
    color: whitesmoke;
    text-decoration: none;
}

.header__link__gradient{
    background: linear-gradient(214.02deg,#B75CFF 6.04%, #671AE4 92.95%);
    border-radius: 10px;
    padding: 10px 20px;

}

.container{
    max-width: 1197px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}